.latest .featured .desc img {
    width: 100%;
    padding-left: 4em;
    padding-right: 4em;
}

.experience .item .technologies {
    padding: 0.2em 1em .8em 1em;
}

.experience .relevant {
    margin-bottom: 0;
}

.certifications .item {
    margin-bottom: 30px
}

.certifications .item .title {
    font-size: 16px;
    margin-top: 0
}

.certifications .item .by {
    font-family: "Lato", arial, sans-serif;
    font-size: 13px;
    color: #999999;
    font-weight: 600;
    padding-left: 25px
}

.certifications .item .by .year {
    color: #b0b7bf;
    font-weight: 500
}

.certifications .item:last-child {
    margin-bottom: 0
}

.interests .item {
    margin-bottom: 30px
}

.interests .item .title {
    font-size: 16px;
    margin-top: 0
}

.interests .item .tags {
    font-family: "Lato", arial, sans-serif;
    font-size: 13px;
    color: #999999;
    font-weight: 600;
    padding-left: 25px
}

.interests .item .tags .tag:before {
    content: '#'
}

.interests .item:last-child {
    margin-bottom: 0
}
