---
layout: compress
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>{{ page.title }}</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="{{ page.author }}">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:400,700">
    <!-- Global CSS -->
    <link rel="stylesheet" type="text/css" href="{{ '/assets/plugins/bootstrap/css/bootstrap.min.css'   | prepend: site.baseurl }}">
    <!-- Plugins CSS -->
    <link rel="stylesheet" type="text/css" href="{{ '/assets/plugins/font-awesome/css/font-awesome.css' | prepend: site.baseurl }}">
    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/styles.css'                            | prepend: site.baseurl }}" id="theme-style">
    <!-- Theme customizations -->
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/guillermo.css'                         | prepend: site.baseurl }}">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="manifest" href="/manifest.json">
{% for link in page.favicons %}
<link rel="{{ link.rel }}" href="{{ link.href | prepend: site.baseurl }}"{% if link.type %} type="{{ link.type }}"{% endif %}{% if link.sizes %} sizes="{{ link.sizes }}"{% endif %}{% if link.title %} title="{{ link.title }}"{% endif %}>{% endfor %}

{% if page.open_graph %}
    <!-- Open Graph -->
    <meta property="og:title" content="{{ page.open_graph.title }}">
    <meta property="og:description" content="{{ page.open_graph.description }}">
    <meta property="og:type" content="profile">
    <meta property="profile:username" content="{{ page.open_graph.username }}">
    <meta property="profile:first_name" content="{{ page.open_graph.first_name }}">
    <meta property="profile:last_name" content="{{ page.open_graph.last_name }}">
    <meta property="profile:gender" content="{{ page.open_graph.gender }}">
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    {% if page.open_graph.site_name %}<meta property="og:site_name" content="{{ page.open_graph.site_name }}">{% endif %}
    {% if page.open_graph.locale %}<meta property="og:locale" content="{{ page.open_graph.locale }}">{% endif %}
    {% if page.open_graph.image %}<meta property="og:image" content="{{ page.open_graph.image | prepend: site.baseurl | prepend: site.url }}">{% endif %}
{% endif %}

{% if page.twitter_cards %}
    <!-- Twitter Cards -->
    <meta name="twitter:title" content="{{ page.twitter_cards.title }}">
    <meta name="twitter:description" content="{{ page.twitter_cards.description }}">
    {% if site.owner.twitter %}<meta name="twitter:site" content="{{ site.owner.twitter | prepend: '@' }}">{% endif %}
    {% if page.twitter_cards.creator %}<meta name="twitter:creator" content="{{ page.twitter_cards.creator | prepend: '@' }}">{% endif %}
    <meta name="twitter:card" content="{{ page.twitter_cards.card }}">
    <meta name="twitter:image" content="{{ page.twitter_cards.image | prepend: site.baseurl | prepend: site.url }}">
{% endif %}

    <link rel="me" href="https://mastodon.social/@gcalvo">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-28P0W1K3KD"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-28P0W1K3KD');
    </script>

</head>

<body>

    <!-- HEADER -->
    <header class="header">
        <div class="container">
            <img class="profile-image img-responsive pull-left" src="{{ site.data.personal.image | prepend: site.baseurl }}" alt="{{ site.data.personal.name }}" />
            <div class="profile-content pull-left">
                <h1 class="name">{{ site.data.personal.name }}</h1>
                <h2 class="desc">{{ site.data.personal.description }}</h2>
                <!-- SOCIAL LINKS -->
                <ul class="social list-inline">
                  {% for social in site.data.social.featured %}
                    <li><a href="{{ social.link }}"><i class="fa fa-{{ social.icon }}"></i></a></li>
                  {% endfor %}
                    <li class="last-item"><a href="mailto:{{ site.data.personal.email }}"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
          {% if site.data.personal.contact %}
            <a class="btn btn-cta-primary pull-right" href="{{ site.data.personal.contact.link }}"><i class="fa fa-paper-plane"></i> {{ site.data.personal.contact.title }}</a>
          {% endif %}
        </div>
    </header>

    <div class="container sections-wrapper">
        <div class="row">

            <!-- MAIN -->
            <div class="primary col-md-8 col-sm-12 col-xs-12">

                <!-- ABOUT ME -->
                <section id="about-me" class="about section">
                    <div class="section-inner">
                        <h2 class="heading">{{ site.data.personal.title }}</h2>
                        <div class="content">{{ content }}</div>
                    </div>
                </section>

              {% if site.data.projects.featured or site.data.projects.relevant %}
                <!-- LATEST PROJECTS -->
                <section id="projects" class="latest section">
                    <div class="section-inner">
                        <h2 class="heading">{{ site.data.projects.title }}</h2>
                        <div class="content">

                        {% if site.data.projects.featured %}
                            <!-- FEATURED -->
                          {% for project in site.data.projects.featured %}
                            <div id="featured-project-{{ forloop.index }}" class="item featured text-center">
                                <h3 class="title"><a href="{{ project.more.link }}" target="_blank">{{ project.title }}</a></h3>
                               {% if project.subtitle %}
                                <p class="summary">{{ project.subtitle | markdownify | remove: '<p>' | remove: '</p>' }}</p>
                               {% endif %}
                                <div class="featured-image">
                                    <a href="{{ project.more.link }}" target="_blank">
                                        <img class="img-responsive project-image" src="{{ project.image | prepend: site.baseurl }}" alt="" />
                                    </a>
                                  {% if project.label %}
                                    <div class="ribbon">
                                        <div class="text">{{ project.label }}</div>
                                    </div>
                                  {% endif %}
                                </div>
                                <div class="desc text-left">{{ project.content | markdownify }}</div>
                              {% if project.more %}
                                <a class="btn btn-cta-secondary" href="{{ project.more.link }}" target="_blank">{{ project.more.title }}</a>
                              {% endif %}
                            </div>
                          {% endfor %}
                            <hr class="divider" />
                        {% endif %}

                        {% if site.data.projects.relevant %}
                            <!-- RELEVANT -->
                          {% for project in site.data.projects.relevant %}
                            <div id="project-{{ forloop.index }}" class="item row">
                                <a class="col-md-4 col-sm-4 col-xs-12" href="{{ project.more.link }}" target="_blank">
                                  <img class="img-responsive project-image" src="{{ project.image | prepend: site.baseurl }}" alt="" />
                                </a>
                                <div class="desc col-md-8 col-sm-8 col-xs-12">
                                    <h3 class="title">
                                      <a href="{{ project.more.link }}" target="_blank">{{ project.title }}</a>
                                  {% if project.label %}
                                      <span class="label label-theme">{{ project.label }}</span>
                                  {% endif %}
                                    </h3>
                                    {{ project.content | markdownify }}
                                  {% if project.more %}
                                    <p><a class="more-link" href="{{ project.more.link }}" target="_blank"><i class="fa fa-external-link"></i> {{ project.more.title }}</a></p>
                                  {% endif %}
                                </div>
                            </div>
                          {% endfor %}
                        {% endif %}

                        </div>
                    </div>
                </section>
              {% endif %}

              {% if site.data.projects.other %}
                <!-- OTHER PROJECTS -->
                <section class="projects section">
                    <div class="section-inner">
                        <h2 class="heading">{{ site.data.projects.otherTitle }}</h2>
                        <div class="content">
                          {% for project in site.data.projects.other %}
                            <div id="other-project-{{ forloop.index }}" class="item">
                                <h3 class="title">
                                  <a href="{{ project.more.link }}">{{ project.title }}</a>
                              {% if project.label %}
                                  <span class="label label-theme">{{ project.label }}</span>
                              {% endif %}
                                </h3>
                                <div class="summary">{{ project.content | markdownify }}</div>
                              {% if project.more %}
                                <p><a class="more-link" href="{{ project.more.link }}" target="_blank"><i class="fa fa-external-link"></i> {{ project.more.title }}</a></p>
                              {% endif %}
                            </div>
                          {% endfor %}
                          {% if site.data.projects.more %}
                            <a class="btn btn-cta-secondary" href="{{ site.data.projects.more.link }}">
                                <i class="fa fa-flask"></i>
                                {{ site.data.projects.more.title }}
                                <i class="fa fa-chevron-right"></i>
                            </a>
                          {% endif %}
                        </div>
                    </div>
                </section>
              {% endif %}

              {% if site.data.experiences %}
                <!-- EXPERIENCE -->
                <section id="work-experience" class="experience section">
                    <div class="section-inner">
                        <h2 class="heading">{{ site.data.experiences.title }}</h2>
                        <div class="content">

                          {% for experience in site.data.experiences.featured %}
                            <div id="featured-work-experience-{{ forloop.index }}" class="item">
                                <h3 class="title">
                                    {{ experience.position }} -
                                    <span class="place">
                                        {% if experience.link %}<a href="{{ experience.link }}">{% endif %}{{ experience.company }}{% if experience.link %}</a>{% endif %}</span> <span class="year">({{ experience.duration_from }} &ndash; {{ experience.duration_to }})
                                    </span>
                                </h3>
                                <div class="technologies">
                                  {% for technology in experience.technologies %}
                                    <span class="label label-theme">{{ technology }}</span>
                                  {% endfor %}
                                </div>
                                <div class="description">
                                    {{ experience.content | markdownify }}
                                </div>
                                <hr>
                            </div>
                          {% endfor %}

                          {% for experience in site.data.experiences.relevant %}
                            <div id="work-experience-{{ forloop.index }}" class="relevant item">
                                <h3 class="title">
                                    {{ experience.position }} -
                                    <span class="place">
                                        {% if experience.link %}<a href="{{ experience.link }}">{% endif %}{{ experience.company }}{% if experience.link %}</a>{% endif %}</span> <span class="year">({{ experience.duration_from }} &ndash; {{ experience.duration_to }})
                                    </span>
                                </h3>
                                <div class="technologies">
                                  {% for technology in experience.technologies %}
                                    <span class="label label-theme">{{ technology }}</span>
                                  {% endfor %}
                                </div>
                                <div class="description">
                                    {{ experience.content | markdownify }}
                                </div>
                                <hr>
                            </div>
                          {% endfor %}

                          {% if site.data.experiences.more %}
                            <a class="btn btn-cta-secondary" href="{{ site.data.experiences.more.link }}">
                                <i class="fa fa-suitcase"></i>
                                {{ site.data.experiences.more.title }}
                                <i class="fa fa-chevron-right"></i>
                            </a>
                          {% endif %}

                        </div>
                    </div>
                </section>
              {% endif %}

            </div>

            <!-- SECONDARY -->
            <div class="secondary col-md-4 col-sm-12 col-xs-12">

                <!-- BASIC INFO -->
                <aside id="basic-info" class="info aside section">
                    <div class="section-inner">
                        <h2 class="heading sr-only">Basic Information</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-map-marker"></i><span class="sr-only">Location:</span><a href="{{ site.data.personal.location.link }}">{{ site.data.personal.location.title }}</a></li>
                                <li><i class="fa fa-envelope-o"></i><span class="sr-only">Email:</span><a href="mailto:{{ site.data.personal.email }}">{{ site.data.personal.email }}</a></li>
                                <li><i class="fa fa-link"></i><span class="sr-only">Website:</span><a href="{{ site.data.personal.website.link }}">{{ site.data.personal.website.title }}</a></li>
                            </ul>
                        </div>
                    </div>
                </aside>

              {% if site.data.skills %}
                <!-- SKILLS -->
                <aside id="skills" class="skills aside section">
                    <div class="section-inner">
                        <h2 class="heading">{{ site.data.skills.title }}</h2>
                        <div class="content">
                            <div class="intro">{{ site.data.skills.intro | markdownify }}</div>
                            <div class="skillset">
                              {% for skill in site.data.skills.featured %}
                                <div id="skill-{{ forloop.index }}" class="item">
                                    <h3 class="level-title">{{ skill.title }}<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="{{ skill.tooltip }}">{{ skill.level }}</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="{{ skill.value }}">
                                        </div>
                                    </div>
                                </div>
                              {% endfor %}
                              {% if site.data.skills.more %}
                                <p><a class="more-link" href="{{ site.data.skills.more.link }}"><i class="fa fa-external-link"></i> {{ site.data.skills.more.title }}</a></p>
                              {% endif %}
                            </div>
                        </div>
                    </div>
                </aside>
              {% endif %}

              {% if site.data.languages %}
                <!-- LANGUAGES -->
                <aside id="languages" class="languages aside section">
                    <div class="section-inner">
                        <h2 class="heading">{{ site.data.languages.title }}</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                              {% for language in site.data.languages.featured %}
                                <li id="language-{{ forloop.index }}" class="item">
                                    <span class="title"><strong>{{ language.title }}:</strong></span>
                                    <span class="level" title="{{ language.tooltip }}">{{ language.level }} <br class="visible-xs"/>{% for i in (1..10) limit: language.stars %}<i class="fa fa-star"></i> {% endfor %}</span>
                                </li>
                              {% endfor %}
                            </ul>
                        </div>
                    </div>
                </aside>
              {% endif %}

              {% if site.data.certifications %}
                <!-- CERTIFICATIONS -->
                <aside id="certifications" class="certifications aside section">
                    <div class="section-inner">
                        <h2 class="heading">{{ site.data.certifications.title }}</h2>
                        <div class="content">
                          {% for certification in site.data.certifications.featured %}
                            <div id="certification-{{ forloop.index }}" class="item">
                                <h3 class="title"><i class="fa fa-certificate"></i> {{ certification.title }}<br>{{ certification.subtitle }}</h3>
                                <h4 class="issuer">{{ certification.issuer }} <span class="year">({{ certification.when }})</span></h4>
                            </div>
                          {% endfor %}
                        </div>
                    </div>
                </aside>
              {% endif %}

              {% if site.data.education %}
                <!-- EDUCATION -->
                <aside id="education" class="education aside section">
                    <div class="section-inner">
                        <h2 class="heading">{{ site.data.education.title }}</h2>
                        <div class="content">
                          {% for education in site.data.education.featured %}
                            <div id="education-{{ forloop.index }}" class="item">
                                <h3 class="title"><i class="fa fa-graduation-cap"></i> {{ education.title }}</h3>
                                <h4 class="university">{{ education.where }} <span class="year">({{ education.when }})</span></h4>
                            </div>
                          {% endfor %}
                        </div>
                    </div>
                </aside>
              {% endif %}

              {% if site.data.endorsements %}
                <!-- ENDORSEMENTS -->
                <aside id="endorsements" class="testimonials aside section">
                    <div class="section-inner">
                        <h2 class="heading">{{ site.data.endorsements.title }}</h2>
                        <div class="content">
                          {% for endorsement in site.data.endorsements.featured %}
                            <div id="endorsement-{{ forloop.index }}" class="item">
                                <blockquote class="quote">
                                    <div><i class="fa fa-quote-left" style="float: left;"></i>{{ endorsement.content | markdownify }}</div>
                                </blockquote>
                                <p class="source">
                                  {% if endorsement.link %}<a href="{{ endorsement.link }}">{% endif %}
                                    <span class="name">{{ endorsement.endorser }}</span><br /><span class="title">{{ endorsement.position }}</span>
                                  {% if endorsement.link %}</a>{% endif %}
                                </p>
                            </div>
                          {% endfor  %}
                          {% if site.data.endorsements.more %}
                            <p><a class="more-link" href="{{ site.data.endorsements.more.link }}"><i class="fa fa-external-link"></i> {{ site.data.endorsements.more.title }}</a></p>
                          {% endif %}
                        </div>
                    </div>
                </aside>
              {% endif %}

              {% if site.data.personal.interests %}
                <!-- INTERESTS -->
                <aside id="interests" class="interests aside section">
                    <div class="section-inner">
                        <h2 class="heading">{{ site.data.personal.interests.title }}</h2>
                        <div class="content">
                          {% for interest in site.data.personal.interests.featured %}
                            <div id="interest-{{ forloop.index }}" class="item">
                                <h3 class="title"><i class="fa fa-tags"></i> {{ interest.title }}</h3>
                                <h4 class="tags">
                                  {% for tag in interest.tags %}
                                    <span class="tag">{{ tag }}</span>
                                  {% endfor %}
                                </h4>
                            </div>
                          {% endfor %}
                        </div>
                    </div>
                </aside>
              {% endif %}

              {% if site.data.personal.feed %}
                <!-- RECENT POSTS -->
                <aside id="posts" class="blog aside section">
                    <div class="section-inner">
                        <h2 class="heading">{{ site.data.personal.feed.title }}</h2>
						{% if site.data.personal.feed.description %}{{ site.data.personal.feed.description | markdownify }}{% endif %}
                        <div id="rss-feeds" class="content" feed-url="{{ site.data.personal.feed.link }}" feed-limit="{{ site.data.personal.feed.limit }}" feed-effect="{{ site.data.personal.feed.effect }}" feed-more="{{ site.data.personal.feed.more }}">
                        </div>
                    </div>
                </aside>
              {% endif %}

            </div>

        </div>

    </div>

    <!-- FOOTER -->
    <footer class="footer">
        <div class="container text-center">
            <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can check out other license options via our website: themes.3rdwavemedia.com */-->
            <small class="copyright">Designed with <i class="fa fa-heart"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
        </div>
    </footer>

    <!-- Javascript -->
    <script type="text/javascript" src="{{ '/assets/plugins/jquery-1.11.3.min.js'              | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ '/assets/plugins/bootstrap/js/bootstrap.min.js'     | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ '/assets/plugins/jquery-rss/dist/jquery.rss.min.js' | prepend: site.baseurl }}"></script>
    <!-- custom js -->
    <script type="text/javascript" src="{{ '/assets/js/main.js'                                | prepend: site.baseurl }}"></script>
</body>
</html>
